  .card__content {
    position: relative;
    box-sizing: border-box;    
    max-width: 80vw;
    max-height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;    
    transform:translate(-50%,-50%); 
  }